meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(content='width=device-width, initial-scale=1.0', name='viewport')
meta(http-equiv='Content-type', content='text/html; charset=utf-8')
title #{pageTitle}Shanthosh Krishnakumar | Creative Front End Web Developer Auckland
meta(name='description', content=`${pageDescription}`)
meta(name='keywords', content=`${pageKeywords}`)
meta(itemprop='name', content='Shanthosh Krishnakumar | Creative Front End Web Developer Auckland')
meta(itemprop='description', content=`${pageDescription}`)
meta(property='og:url', content='http://drmsweb.com/')
meta(property='og:type', content='website')
meta(property='og:title', content='Shanthosh Krishnakumar | Creative Front End Web Developer Auckland')
meta(property='og:description', content=`${pageDescription}`)
meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='apple-mobile-web-app-title', content='Shanthosh Krishnakumar')
link(rel='icon', sizes='192x192', href='images/devices/android-touch-icon-192x192.png')
link(rel='apple-touch-icon-precomposed', sizes='180x180', href='images/devices/apple-touch-icon-180x180-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='152x152', href='images/devices/apple-touch-icon-152x152-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='120x120', href='images/devices/apple-touch-icon-120x120-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='180x180', href='images/devices/apple-touch-icon-180x180-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='76x76', href='images/devices/apple-touch-icon-76x76-precomposed.png')
link(rel='apple-touch-icon-precomposed', href='images/devices/apple-touch-icon-precomposed.png')
link(rel='author', href='/app/pages/humans.txt')
link(rel='shortcut icon', href='favicon.ico')
link(rel='canonical', href='http://drmsweb.com/')
link(rel='stylesheet', href='/app/styles/main.css')
script(type='text/javascript', src='/vendor/modernizr/modernizr.js')
